@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

* {
    margin: 0;
    padding:0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

/*couleurs*/
.grey {
    color: #515f67;
}

/*header-section*/
header {
    background: url(img/img-header.png) no-repeat fixed center;
    height: 70vh;
    width: 100%;
    background-size: cover;
}

.div-h1 {
    display: flex;
    justify-content: center;
}

/*nav*/
nav {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #39444b;
    opacity: 0.8;
    top: 0;
}

nav ul {
    float: right;
    margin-top: 8px;
    padding-right: 15%;
}
nav ul li {
    display: inline-block;
    text-transform: uppercase;
    padding: 30px;
    padding-right: 0;
}

nav ul li a {
    color: #FFFFFF;
    padding: 10px;
}

.logo {
    display: block;
    position: absolute;
    left: 0;
    padding-left: 15%;
}

nav ul li a:active {
    outline: solid 1px #4bcaff;
    color: #4bcaff;
}

nav ul li a:hover {
    outline: solid 1px #4bcaff;
    color: #4bcaff;
}

/*titres*/
h1 {
    color:#FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.7em;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    margin-top: 270px;
}

.title-h1-part1 {
    background: #48535b;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.title-h1-part2 {
    background: #48535b;
    display: block;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
}

h2 {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.7em;
}

h2:after {
    content: "____";
    display: block; 
    margin-top: -25px;
}

h3 {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*sections*/
section {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 3%;
    padding-bottom: 3%
}

.little-text {
    font-size: 0.8em;
    color: #FFFFFF;
}

.flex {
    display:flex;
    justify-content: space-between;
}

/*services-section*/
#services {
    background: #4bcaff;
}

/*columns*/
.column-1-2 {
    width: 45%;
    margin-top: 20px;
}

.column-1-4 {
    width: 23%;
    margin-top: 20px;
}

/*portfolio*/

.groupe-portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.div-img-portfolio {
    padding: 10px 10px;
}

.img-portfolio {
    width: 255px;
    height: 255px;
}

.text-img-portfolio {
    position: absolute;
    margin-top: -260px;
    width: 255px;
    height: 255px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: 300;
    background: #434c53;
    color: #FFFFFF;
    cursor: pointer;
    opacity: 0;
}

.text-img-portfolio:hover {
    opacity: 0.8;
}

/*nav-portfolio*/
#nav-portfolio {
    position: relative;
    width: 100%;
    height: 100px;
    opacity: 1;
    background: none;
}

#nav-portfolio ul {
    float: right;
    margin-top: -15px;
    padding-right: 0;
}

#nav-portfolio ul li {
    display: inline-block;
    text-transform: uppercase;
    padding: 30px;
    padding-right: 0;
}

#nav-portfolio ul li a {
    color: #515f67;
    padding: 10px;
}

.active {
    outline: solid 1px #4bcaff;
    color: #4bcaff;
}


/*just-default-section*/
#just-default-section {
    background-color: #515f67;
}

.btn-visit {
    padding: 12px 16px;
    color: #353f46;
    border: solid 1px #353f46;
    display: block;
    margin-top: 25px;
    width: 60px;
}

.btn-visit:hover {
    background: #353f46;
    color: #FFFFFF;
}

.video-container iframe {
    width: 100%;
    margin-top: -50px;
    border: 0;
}

/*twitter*/
#twitter {
    background-color: #4bcaff;
}

.title-with-logo {
    display: flex;
    justify-content: space-between; 
}

.fa-twitter-section-twitter {
    border: none;
    font-size: 1.5em;
    margin-top: -5px;
}

.fa-twitter-section-twitter:hover {
    background: transparent;
    cursor: default;
    color: #FFFFFF;
}

.text-twitter {
    color: #FFFFFF;
    margin-top: 20px;
    font-weight: 300;
}

/*john-doe*/
#john-doe {
    background: url(img/section-whois.png) no-repeat center;
    padding-top: 7%;
    padding-bottom: 7%;
}

i {
    color: #FFFFFF;
    border: solid 1px #FFFFFF;
    padding: 10px;
    margin-right: 10px;
    margin-top: 15px;
    cursor: pointer;
}

i:hover {
    background: #FFFFFF;
    color: #515f67;
}

/*testimonials*/
.citation:after {
    content: "\201D";
    color: #515f67;
    font-size: 4em;
}

.text-testimonials {
    color: #515f67;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 2em;
}

.name-testimonials {
    color: #79d5ff;
    font-size: 1em;
    font-weight: 700;
    margin-top: 20px;
}

/*contact*/

#contact {
    background: url(img/section-contact.png) no-repeat center;
}

.presentation-contact {
    margin-top: 50px;
}

/*contact-form*/
#nom, #email {
	width: 100%;
	height: 40px;
    margin-top: 5px;
    border: solid 1px #FFFFFF;
    background: transparent;
    color: #FFFFFF;
}

#message {
	width: 100%;
	height: 160px;
    margin-top: 5px;
    border: solid 1px #FFFFFF;
    background: transparent;
    color: #FFFFFF;
}

.btn-message {
    width: 250px;
    height: 50px;
    margin-top: 20px;
    color: #FFFFFF;
    background-color: #4bcaff;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
}

.btn-message:hover {
    color: #4bcaff;
    background-color: #FFFFFF;
}

.contact-text {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
    margin-top: 30px;
}

/*footer*/
footer {
    background-color: #353f47;
    padding: 40px;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    justify-content: space-between;
}

footer a {
    color: #657077;
    text-transform: uppercase;
}

.text-footer {
    color: #657077;
}

footer a:hover {
    color: #FFFFFF;
}